<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragment/commons::head">
</head>
<body>
<!-Navigation -->
<div  th:replace="fragment/commons::nav"></div>
<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h1>Always the best for you <br>For good price!</h1>
                <a th:href="@{/product/all}" class="btn">More tips &#8594;</a>
            </div>
            <div class="col-2" >
                <img src="/images/ttt.jpg" width="400px">
            </div>
        </div>
    </div>
</div>


<!-Product-->
<div class="small-container">
    <h2 class="title">New Products</h2>
    <div class="row">
        <div  class="product text-center col-lg-3 col-md-4 col-12" th:each="p:${newTenProduct}" th:object="${p}" >
            <img class="img-fluid mb-3" th:src="*{imageUrl}" width="200px">
            <h5 th:text="|Product Name: *{name}|" class="productName">Bio Baby puree </h5>
            <h4 th:text="|Product Price: &#36*{price}|" class="productPrice">$1.99</h4>
            <form  th:action="@{/product/details/{id}(id = *{id})}"  >
                <button type="submit" class="buy-btn">Buy Now</button>
            </form>
        </div>
    </div>
</div>


<!-Footer-->
<div th:replace="fragment/commons::footer"></div>

<script src="/js/toggleMenu.js"></script>
<script src="/js/dropdown.js"></script>

</body>
</html>